hr {
  height: 1px;
  border: none;
  background-color: rgba(107,93,255,0.3);
}

.container {
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
}

.doc {
  font-size: 18px;
  border: white;
  border-radius: 10px;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 100px;
  margin-top: 50px;
  width: 550px;
  height: 600px;
  box-shadow: 1px 1px 10px -2px;

}

.title {
  padding-top: 20vh;
  text-align: left;
  padding-bottom: 100px;
}

.title-text {
  padding-top: 20px;
  font-size: 7vh; 
  line-height: 100%;
  font-family: 'Montserrat';
  font-weight: 800;
}

.start-session {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 6vh;
  margin-top: 80px;
  text-align: left;
  border: none;
  background: none;
  text-decoration: none;
  color: #6B5DFF;
  border-bottom: 1px solid rgba(107,93,255,0.5);
}

