* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 65px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    max-width: 8.5in;
}

.logo {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    color: #3C4A50;
    text-decoration: none;
    z-index: 1;
}

.git-link {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    background: #6B5DFF;
    border-radius: 23.5px;
    border-color: #6B5DFF;
    text-align: center;
    padding: 15px 40px;
}

@media print {
    nav {
        display: none;
    }
    hr {
        display: none;
    }
}